In [95]:
from sqlalchemy import create_engine # type: ignore

In [96]:
my_con = create_engine('mysql+pymysql://root:tito@127.0.0.1:3306/mi_reto')

In [99]:
import os
# ver que tipo de archivos  tengo en este path
directory = 'C:\ProgramData\MySQL\MySQL Server 8.0\Data\DATA'
files = os.listdir(directory)
print(files)

['11', 'athlete_events.csv', 'athlete_events_new.xlsx', 'bank.csv', 'campana_marketing.csv', 'clientes.csv', 'england-premier-league-players-2018-to-2019-stats.csv', 'players_description.csv', 'productos.csv', 'score_crediticio.csv', 'supermarket_sales.csv', 'transacciones.csv']

In [107]:
import pandas as pd

In [104]:
file_path = 'C:\\Users\\Tito\\Desktop\\DATA\\athlete_events.xlsx'

In [106]:
athlete_event = pd.read_excel(file_path)
athlete_event.head

<bound method NDFrame.head of          ID                      Name Sex  Age  Height  Weight  \
0         1                 A Dijiang   M   24   180.0    80.0
1         2                  A Lamusi   M   23   170.0    60.0
2         3       Gunnar Nielsen Aaby   M   24     NaN     NaN
3         4      Edgar Lindenau Aabye   M   34     NaN     NaN
4         5  Christine Jacoba Aaftink   F   21   185.0    82.0
...     ...                       ...  ..  ...     ...     ...
13086  7423                Marvin Bam   M   30   175.0    66.0
13087  7424          Souleymane Bamba   M   23   190.0    90.0
13088  7427               Paul Bamber   M   27   175.0    65.0
13089  7427               Paul Bamber   M   27   175.0    65.0
13090  7428           Ivano Bamberghi   M   27     NaN     NaN

                 Team  NOC        Games  Year  Season       City  \
0               China  CHN  1992 Summer  1992  Summer  Barcelona
1               China  CHN  2012 Summer  2012  Summer     London
2             Denmark  DEN  1920 Summer  1920  Summer  Antwerpen
3      Denmark/Sweden  DEN  1900 Summer  1900  Summer      Paris
4         Netherlands  NED  1988 Winter  1988  Winter    Calgary
...               ...  ...          ...   ...     ...        ...
13086    South Africa  RSA  2008 Summer  2008  Summer    Beijing
13087   Cote d'Ivoire  CIV  2008 Summer  2008  Summer    Beijing
13088        Zimbabwe  ZIM  1988 Summer  1988  Summer      Seoul
13089        Zimbabwe  ZIM  1988 Summer  1988  Summer      Seoul
13090           Italy  ITA  1976 Winter  1976  Winter  Innsbruck

               Sport                             Event Medal
0         Basketball       Basketball Men's Basketball   NaN
1               Judo      Judo Men's Extra-Lightweight   NaN
2           Football           Football Men's Football   NaN
3         Tug-Of-War       Tug-Of-War Men's Tug-Of-War  Gold
4      Speed Skating  Speed Skating Women's 500 metres   NaN
...              ...                               ...   ...
13086         Hockey               Hockey Men's Hockey   NaN
13087       Football           Football Men's Football   NaN
13088        Archery          Archery Men's Individual   NaN
13089        Archery                Archery Men's Team   NaN
13090  Speed Skating  Speed Skating Men's 5,000 metres   NaN

[13091 rows x 15 columns]>